.card {
  width: 80%;
  min-width: 280px;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 10px;
  background-color: rgb(215, 242, 255);
  position: relative;
  table-layout: fixed;
  z-index: 0;
}

@media screen and (min-width: 600px) {
  .card {
    min-width: 300px;
    max-width: 400px;
    width: 20%;
    box-shadow: 0px 0px 15px -5px #777777;
    border-radius: 10px;
    background-color: rgb(215, 242, 255);
    position: relative;
    table-layout: fixed;
    z-index: 0;
  }

  .card:hover {
    box-shadow: 0px 0px 0px 0px #777777;
  }

}

.card:hover {
  box-shadow: 0px 0px 0px 0px #777777;
}

.cardText {
  padding: 0;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-wrap: break-word;
}

.cardDate {
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr;
  font-size: 12px;
  border-radius: 10px;
}

.date {
  background-color: rgb(227, 245, 254);
  border-radius: 10px;
}



.delButton {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: rgb(254, 233, 233);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 15px -5px #777777;
}

.delButton:hover {
  box-shadow: 0px 0px 0px 0px #777777;
}

.checkButton {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: rgb(196, 248, 204);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 15px -5px #777777;
}

.checkButton:hover {
  box-shadow: 0px 0px 0px 0px #777777;
}