.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(177, 226, 255);
}

.todoCardContainer {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items:center;
  gap: 20px;
  margin-top: 20px;
 }
.todoPost {
  width: 200px;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 10px;
  background-color: rgb(215, 242, 255);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.todoPostText{
  padding: 0;
  font-size: 18px;
  margin-bottom: -15px;
  margin-top: 5px;
}

.todoPost:hover {
  width: 200px;
  box-shadow: 0px 0px 0px 0px #777777;
  border-radius: 10px;
  background-color: rgb(215, 242, 255);
  display: block;
  margin-left: auto;
  margin-right: auto;
}